<Configuration name="ConfigTest" status="INFO" monitorInterval="500">
    <Properties>
        <Property name="filename">/opt/spr-clsr-test-env/logs/application.log</Property>
    </Properties>
    <ThresholdFilter level="trace"/>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="FILE" fileName="${filename}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="io.github.malyszaryczlowiek.Main" level="trace" additivity="false">
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>
        <Logger name="Main" level="trace" additivity="false">
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>

    </Loggers>
</Configuration>